MONGO_HOST=class-mongodb.cims.nyu.edu
MONGO_USER=yg1764
MONGO_PASSWORD=c4Vn2VN2
MONGO_DBNAME=yg1764
FLASK_APP=app.py # the main script file
FLASK_ENV=development # either development or production
GITHUB_SECRET=zen # pick any secret key word you like for GitHub webooks
GITHUB_REPO=https://github.com/nyu-database-design/flask-mongodb-web-app.git # the GitHub repository
