<!DOCTYPE html>
<html>
  <head>
    <title>Protobia</title>
    <style>
      body {
        background-color: #1c87c9;
      }
    </style>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Protobia</h1>
        <p>
          <a href="{{ url_for('home')}}">Home</a> |
          <a href="{{ url_for('read')}}">All Reviews</a> |
          <a href="{{ url_for('create')}}">Create Your Own Review</a>
        </p>
      </header>
      <main>{% block container %} {% endblock %}</main>
      <footer>
        <p>
          .box3{background: #dea46b;text-align: center;line-height: 200px;}
        </p>
      </footer>
    </div>
  </body>

</html>
