{% extends 'base.html' %}

{% block container %}
<h2>Random Challenge!</h2>
<p>
        
    {% sample %}
    <div>
        <hr class="solid">
        <p class="post">
            Posted at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
        </p>
            
        <p>
            <b>I visited: </b> {{ sample.name }}
        </p>

        <p>
            {{ sample.message }}
        </p>
        <p>
            <b>Rating: </b> {{ sample.rating }}
        </p>  
    </div>
    {%endfor%}
</p>
{% endblock %}