{% extends 'base.html' %}

{% block container %}
<h2>Read Feeds</h2>
<p>Proto Reviews
        
    {% for doc in docs %}
    <div>
        <hr class="solid">
        <p class="post">
            Posted by at {{ doc.created_at.strftime("%H:%M on %d %B %Y") }}
            </br>
            <a href="{{ url_for('edit',mongoid=doc._id)}}">Edit</a> | <a href="{{ url_for('delete',mongoid=doc._id)}}">Delete</a>
            </br>
        </p>

        <p>
            {{ doc.name }}
        </p>

        <p>
            {{ doc.message }}
        </p>
        <p>
            Rating: {{ doc.rating }}
        </p>  
    </div>
    {%endfor%}
</p>
{% endblock %}